.mainLayout {
  display: flex;
  justify-content: space-around;
  /* margin: auto; */
  margin: 0 1rem;
}

.actionSide {
  width: 20%;
  height: 40rem;
  border: 2px solid black;
  border-radius: 1rem;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0.5rem;
}

.mainSide {
  width: 50%;
  padding: 0 1rem;
  margin: 0;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.secondarySide {
  width: 15%;
  /* border: 2px solid black; */
}

@media (max-width: 640px) {
  .mainLayout {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .actionSide {
    width: 100%;
    height: 8rem;
    margin-bottom: 1rem;
  }

  .mainSide {
    width: 100%;
    padding: 0;
  }

  .secondarySide {
    display: none;
  }
}