.userPreviewLayout {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid black;
  background: white;
  border-radius: 1rem;
}

.userPreviewLayout:active,
.userPreviewLayout:hover {
  background: #F2F2F2;
  font-weight: bold;
}

.userPreviewImage {
  height: 8rem;
  width: 8rem;
  border-radius: 1rem;
  border: 1px solid black;
  margin-right: 1rem;
}

.userPreviewInfo {
  
}