.postDetail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.showCommentBox {
  width: 40rem;
}

.showCommentBoxText {
  color: #0A111F;
  cursor: pointer;
  align-self: flex-start;
}

.commentBox {
  width: 40rem;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 1rem;
  background-color: white;
}

.commentInput {
  height: 5rem;
  width: 100%;
  resize: none;
  margin-bottom: 0.5rem;
}