.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 5rem;
  margin-bottom: 1rem;
}

.navLogo {
  margin-left: 1rem;
}

.navLinks {
  margin-right: 1rem;
}

.navLink {
  margin: 0.4rem;
  padding: 0.2rem;
}

.navLink:active,
.navLink:hover {
  border-bottom: 2px white solid;
}

h2 {
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}