.navBar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0A111F;
  height: 4rem;
  margin-bottom: 1rem;
}

.navLogo {
  margin-left: 1rem;
}

.navLinks {
  margin-right: 1rem;
}

.navLink {
  font-size: 1.1rem;
  margin: 0.4rem;
  padding: 0.2rem;
}

.addPostLink {
  font-size: 1.1rem;
  margin: 0.4rem;
  padding: 0.2rem;
  border: 2px white solid;
  border-radius: 0.5rem;
}

.activeAddPostLink,
.addPostLink:active,
.addPostLink:hover {
  color: #0A111F;
  /* border: 2px #0A111F solid; */
  background: white;
}

.activeLink,
.navLink:active,
.navLink:hover {
  border-bottom: 2px white solid;
}

h2 {
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}